{% extends "base.njk" %}

{% block content %}

    <div class="antennae-card" >
            {{ title }}
            
            <img src="../images/icn_goals_colored.png" alt="global goal"/>
            
            <p class="oui-image-cover-caption">A PWA for goodos</p>
            {% for app in collections.apps %}
               <p> {{ app.data.title }}</p>
            {% endfor %}
    </div>
 {% endblock content %}   