---
permalink: /scripts/search-index.js
---
export default {
{% for app in collections.app  %}{% set data = app.data %}"{{ data.name }}":{
	"title": "{{ data.name }}",
	"description": "{{ app | excerpt }}",
	"icon": "{{ data | appicon | url }}",
	"page_url": "{{ app.url | url }}",
	"url": "{{ data.baseurl }}"
}{{ '' if loop.last else ',' }}
{% endfor %}};
